<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crud con FLASK - PYTHON y MySQL</title>
  <link rel="shortcut icon" href="{{url_for('static', filename ='assets/imgs/favicon.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/tooltip.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/custom_alert.css') }}">
</head>

<body class="loader">

  {% include 'public/navbar.html' %}
  {% include 'public/alerta.html' %}

  <div class="container text-center">
    <div class="row mb-3">
      <div class="col-md-12">
        <h1 class="mt-4 bold-800">Crud con FLASK - PYTHON y MYSQL FÁCIL
          <i class="bi bi-braces"></i> 😱
          <hr>
        </h1>
      </div>
    </div>

    {% block body %}

    <div class="row">
      <div class="col-md-12">
        <a href="{{ url_for('addCarro') }}" title="Registrar nuevo Carro"
          class="btn btn-primary btn-lg btn-block btn-sm mb-2" style="float:right">
          <i class="bi bi-car-front-fill"></i>
          Nuevo Registro
        </a>
      </div>
    </div>


      {% include 'public/acciones/lista.html' %}


    {% endblock %}


  </div>




  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename ='assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/js/alerta.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/js/loader.js') }}"></script>
  <script>
    function eliminarCarroJavaScript(id) {
      const idR = document.querySelector('#id_'+ id);
      nombreFoto = idR.dataset.foto;

      let li = document.querySelector('#Registro_' + id);

      var urlForm = "{{ url_for('formViewBorrarCarro') }}";
      $.ajax({
        type: "POST",
        data: { id, nombreFoto },
        url: urlForm,
        success: function (resp) {
          console.log(resp)
          if (resp == 1) {
            li.remove(); //remuevo el registro desde la lista
            mensajeAlerta(msg='Registro Eliminado con éxito.', tipo=1); 
          } else {
            console.log('Error al intentar borrar el carro ');
          }
        }
      });

    }  
  </script>

  <!--👉 Desarrollado por: Urian Viera -->
  <!--👉 Portafolio: https://urianviera.com/ -->
  <!--👉 Github: https://github.com/urian121 -->
</body>

</html>